
.button-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button {
    width: 111px;
    height: 33px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

.button:disabled {
    background-color: #DDDDDD;
    color: #8d8d8d;
}
